@mixin absolute-position($t: null, $r: null, $b: null, $l: null) {
  position: absolute;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin display-flex($d: rows) {
  display: flex;
  align-items: center;
  flex-direction: $d;
}
