$color-font: #FFFFFF !default;
$color-font-dark: darken($color-font, 30%) !default;

$color-background:#000000 !default;
$color-background-light1: lighten($color-background, 20%) !default;
$color-background-light2: lighten($color-background, 15%) !default;